\usepackage[margin=0.6in]{geometry}
\usepackage{fancyhdr}
\pagestyle{fancy}
\fancyhf{}
\lfoot{Report: \texttt{ {{ footer_report_id }} }}
\cfoot{\thepage}
\rfoot{Last run: {{ footer_last_run }}}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0.4pt}
